$mainColor: #0e172a;
$colorScheme: dark;
$background: #343541;
$foreground: #f5f5f5;

$smooth: transform 0.3s ease-in-out;

$colorBorder: rgba(0, 0, 0, 0.4);
$colorText: rgba(0, 0, 0, 1);
$backgroundColor: #f2f1f1;

$modalBackGroundColor: #fff;
$modalBackGroundColorContent: #f8f8f8;
$modalPromptItemBackGround: #f2f1f1;
$modalBorderColor: #eeeded;
$modalItemSelected: #fff;

$filterBorderColor: #e3e3e3;
$filterBackGroundColor: #f5f5f5;

$colorIconSend: #f5f5f5;

$primaryColor: rgb(16, 163, 127);

$growthFrom: 0.6;
$growthTo: 1;
